body {
  background-color: #666;
  color: #6b6;
  font-family: Arial, Helvetica, sans-serif;
}

#game_over_text {
  color: red;
}

#grid {
  display: grid;
  grid-template-columns: repeat(var(--GRID_WIDTH), max-content);
  grid-template-rows: repeat(var(--GRID_HEIGHT), max-content);
  border-left: 1px dashed darkgray;
  border-top: 1px dashed darkgray;
  width: fit-content;
}

.cell {
  width: 32px;
  aspect-ratio: 1 / 1;
  background-color: #777;
  border-right: 1px dashed darkgray;
  border-bottom: 1px dashed darkgray;
}

.player {
  background-color: #6b6;
}

.goal {
  background-color: rgb(211, 22, 8);
}
